html {
    background-color: #923852;
    font-family: "Hack Nerd Font", "Seoge UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    color: #FFF;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: #131229;
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

a {
    color: #1184a3;
}
