html {
    background-color: #923852;
    font-family: "Hack Nerd Font", "Seoge UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: #FFF;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: #131229;
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

a {
    background-color: #1184a3;
    color: #131229;
    padding: 10px 20px;
    border-radius: 0.5rem;
}

input[type="submit"] {
    background-color: #1184a3;
    color: #131229;
    padding: 10px 30px;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: separate; /* Allows border-radius on tr and border-spacing */
    border-spacing: 0 8px; /* Vertical spacing between rows */
}

table th,
table td {
    border: none; /* No internal cell borders */
    padding: 10px; /* Consistent padding for content */
    text-align: left;
}

/* Rounded corners for table rows */
.tr_fc,
.tr_ap {
    border-radius: 12px; /* Apply rounded corners */
}

.tr_fc {
    background-color: #923852;
}

.tr_ap {
    background-color: #1184a3;
}
