html {
    background-color: #923852;
    font-family: "Hack Nerd Font", "Seoge UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: #FFF;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: #131229;
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

a {
    background-color: #1184a3;
    color: #131229;
    padding: 10px 20px;
    border-radius: 0.5rem;
}

input[type="submit"] {
    background-color: #1184a3;
    color: #131229;
    padding: 10px 30px;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

table th,
table td {
    border: none;
    padding: 10px;
    text-align: left;
}

#song_display_tab > tbody > tr > td {
    border: 2px solid #923852;
    border-radius: 0.25rem;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#song_display_tab > tr > td > table {
    border: 2px solid #923852;
    border-radius: 0.25rem;
    width: 100%; /* Ensure the nested table takes full width of its parent td */
    border-collapse: separate; /* Maintain separate borders for cells if needed later */
    border-spacing: 0; /* Remove default spacing for a clean border around the table */
}

#song_display_tab > tbody > tr > td > table tr td {
    text-align: center;
}

#song_display_tab > tbody > tr > td h2 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding: 5px 0;
}

.tr_fc,
.tr_ap {
    border-radius: 12px;
}

.tr_fc {
    background-color: #923852;
}

.tr_ap {
    background-color: #1184a3;
}

.smallImg {
    width: 100px;
    height: 100px;
}

ul {
    color: #FF0000;
}

#new_song_table {
    width: 400px;
    margin: 0 auto;
}

#song_display_tab {
    border: 3px solid #1184a3;
    border-radius: 0.5rem;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}
