<%- include("header.ejs") %>

    <section>
        <%- include("generic_form.ejs", form) %>
    </section>
    <a href="/auth/signup">Don't have an account? Register now!</a>

    <%- include("footer.ejs") %>
